body {
    background-color: beige;
    margin: 5px;
    padding: 2px
}

#header1 {
    background-color: bisque;
    color: navy
}

#table1 {
    border: 2px solid lightcoral;
    background-color: cornsilk;
}

#table2 {
    border: 2px solid darkgoldenrod;
    /*! background-color: cornsilk; */
}